.git
.gitignore
.env
.env.*
!.env.example

.runtime
.terraform
**/.terraform
**/*.tfstate*
**/*.tfplan

__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

.venv/
venv/
node_modules/
